@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.searchResultEleTextoverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* 
.scrollbarRemove{
    width: 200px; 
    height: 200px;
    background-color:skyblue;
    overflow-y: scroll; */

    /* -ms-overflow-style: none; 인터넷 익스플로러 */
    /* scrollbar-width: none; 파이어폭스 */
/* } */

.scrollbarRemove::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}