@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.searchResultEleTextoverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.miniPlayerBG{
    background-color: rgba(0,0,0,0.8);
}

body{ -ms-overflow-style: none; } ::-webkit-scrollbar { display: none; }

.scrollbarRemove::-webkit-scrollbar {
    display: none; 
}

*:focus{
    outline: none;
}

input[type="range"] { 
    /* margin: auto; */
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 8px;
    width: 600px;
    cursor: pointer;
    border-radius: 99999px; /* iOS */
}

::-webkit-slider-runnable-track {
    background: rgb(255, 255, 255);
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px; /* 1 */
    height: 8px;
    border-radius: 9999px;
    background: rgb(180, 180, 180);
    box-shadow: -604px 0 0 600px rgb(180, 180, 180); /* 2 */
}

::-moz-range-track {
    height: 40px;
    background: rgb(180, 180, 180);;
}

::-moz-range-thumb {
    background: rgb(180, 180, 180);;
    height: 8px;
    width: 8px;
    /* border: 3px solid #999; */
    border: 0;
    border-radius: 999999px;
    box-shadow: -604px 0 0 600px rgb(180, 180, 180);;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: rgb(180, 180, 180);;
}

::-ms-thumb { 
    background: rgb(255, 0, 0);
    /* border: 2px solid #999; */
    height: 8x;
    width: 8px;
    border-radius: 99999px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}